body {
  background-color: #2c4f5df5;
  background-image: url("asfalt-light.png");
  background-attachment: fixed;
  color: rgba(224, 224, 224, 0.76);
}

.container {
  width: 350px;
}

img {
  width: 100px;
  opacity: 0.5;
}

h2 {
  color: rgb(83, 165, 80);
}

span {
  color: rgb(199, 192, 92);
}